{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Мердан</h1>
<p>
  Свои умения верстать я позабыл, так как мало закрепляю пройденный материал, поэтому дизайнерской красоты тут не ждите.
  Но о себе немного расскажу. По образованию я врач-эндоскопист, работаю в данный момент по специальности. В программирование меня привело
  плачевное состояние системы здравоохранения и желание изменить свою жизнь в лучшую сторону. 
  Так как я сильно отстаю от обучения и основного потока, я не успеваю закреплять пройденный материал. 
  В ближайшем будущем планирую догнать свой курс, учиться вместе со всеми, использовать дополнительные материалы и повторять забытое.
  Короче говоря - работаем!
  Всех обнял =)
</p>
{% endblock %} 